* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#171717;
    
}

footer {

    height: 400px;
}

/* Title */

.title {
    width: 100%;
}

.read {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: white;
    padding-bottom: 20px;
}

.read-sub {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: white;
    padding-bottom: 20px;
}

/* Search Bar */

.top {
    width: 100%;
    height: fit-content;
}

#searchForm {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
}

/* SEARCH BAR */

.search-wrapper {

    width: 30%;
background-color: white;
}

#bar {
    font-size: 23px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 90%;
}



#search-btn {

    background-color: #2762f3;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    float: left;
}


#magnifyingGlass {

    font-size: 25px;
    background-color: #2762f3;
    color: white;
}



/* Advanced/Basic Button Toggle */

.toggle-container {

    width: 90%;
    height: 100px;
    display: flex;
    gap: 50px;
    margin-top: 75px;
    margin-left: 40px
}

.advanced {
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    display: block;
    font-family: 'Lato', sans-serif;
    background-color: #2762f3;
    color: #F0F0F0;
    border-radius: 15px;
    border:none;
    box-shadow: 0px 6px 7px 4px rgba(50, 123, 169, .25);
   
}

.advanced:hover {

    color: black;
}

/* RESULTS SECTION */

.display {

    padding-top: 100px;
    width: 100%;
    height:auto;
}

.results {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 90%;
    margin: 0 auto;
}

.article-card {
    display: block;
    width: 300px;
    height: 350px;
    background-color:#5c5c5c;
    border-radius: 15px;
    margin-bottom: 40px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.article-card img{

    max-width: 300px;
    max-height: 200px;
    height: auto;
    object-fit: cover;
    text-align: center;
    cursor: pointer;
}


.article-card h2{

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 95%;
    margin: 0 auto;
    color: white;
}

.article-card span {

    text-decoration: underline;
}

.article-card p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    width: 95%;
    margin: 0 auto;
    opacity: 0.;
    text-align: center;
    text-decoration: underline;
}

.article-card a:link,
.article-card a:visited {

    text-decoration: none;
    color: black;    
}

.article-card h2:hover {

    color:#24a0ed;
}

/* Performance Window */

.hidden {
    display: none;

}

.performance-window {

    width: 270px;
    transition: width 0.4s ease;
    float: right;
    
}

.records {
    display: block;
    color: #F0F0F0;
    height: 100%;
    background-color: #5c5c5c;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: inset 0 0 10px;
}

.records h1{

    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;

}

.records p {

    padding-left: 20px;
}

.record{

    font-weight: bold;
    
}

/* Next/Previous Buttons */

.pages-wrapper {

    display:block;
    padding-bottom: 50px;
    padding-left: 100px;

}

.show-pages {

    display:flex;
}



.next-btn {

    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    border: none;
    background-color: white;
    color: black;
    text-align: center;

}

.next-btn:hover {

    background-color: #2762f3;
    color: white;
    cursor: pointer;
}

.active {
    background-color: #2762f3;
    color: white;
}

