* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#171717;
}

/* Title */

.title {
    width: 100%;
}

.read {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 75px;
    font-family: 'Bitter', serif;
    color: white;
}

/* Search Bar */

.top {
    width: 100%;
    height: fit-content;
}

#searchForm {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display:flex;
    justify-content: center;
    box-sizing: border-box;
}

/* SEARCH BAR */

.search-wrapper {

    width: 30%;
background-color: white;
}

#bar {
    font-size: 23px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 90%;
}



#search-btn {

    background-color: #2762f3;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    float: left;
}


#magnifyingGlass {

    font-size: 25px;
    background-color: #2762f3;
    color: white;
}



/* Advanced/Basic Button Toggle */

.toggle-container {

    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.advanced {
    font-size: 20px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

/* RESULTS SECTION */

.display {

    padding-top: 100px;
    width: 100%;
}

.results {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    width: 90%;
    margin: 0 auto;
}

.article-card {
    display: block;
    width: 300px;
    height: 400px;
    background-color:#CFD8DF;
    border-radius: 15px;
    margin-bottom: 40px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.article-card img{

    max-width: 300px;
    height: auto;
    object-fit: cover;
    text-align: center;
    cursor: pointer;
}


.article-card h2{

    font-family: 'Bitter', serif;
    font-size: 20px;
    width: 95%;
    margin: 0 auto;
}

.article-card p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 95%;
    margin: 0 auto;
    opacity: 0.;
}

.article-card a:link,
.article-card a:visited {

    text-decoration: none;
    color: black;    
}

.article-card a:hover,
.article-card a:active {

    color:#445c6d;
}

/* Performance Window */

.hidden {
    display: none;
}